@charset "UTF-8";
/*
 * 	This is my first attempt at creating a separate style sheet
 *	For the most part I have no idea what I am doing
 *
*/

body {
    			background-color: #242424 !important;
    			padding-top:20px !important;
    			padding-bottom:20px !important;
		}
	a 	{
			    text-decoration: none !important;
		}
  .logo {
    text-align: center;
  }
	.heading-text {
			   font-size:24px;
			   text-align: center;
	       padding: 5px;
         text-shadow: 1px 1px #ffffff;
         font-family: Arial, Helvetica, sans-serif;
         font-weight: bold;
         color:#2da836;
         cursor: default;
		}
	.explain {
			    text-align: center;
	    		color: #ffffff;
    			background: #545454;
    			padding-left: 5px;
    			padding-right: 5px;
    			display: block;
    			border: 1px solid black;
    			border-radius: 4px;
    			width: 88%;
    			margin-left: auto;
    			margin-right: auto;
    			font-size: 20px;
          cursor: default;
		}
  .smiley {
			   display: inline-block;
         text-align: center !important;
		}
  .smiley img {
        height: 27px !important;
  }
  .hp-link{
        cursor: pointer;
  }
  .hp-link img {
        width: 27px;
  }
  .slick-slide {
      max-width: 100%;
      -moz-transition: all 0.3s;
      -webkit-transition: all 0.3s;
      transition: all 0.3s;
      display:block;
      float:none;
  }
  .slick-slide:hover {
      -moz-transform: scale(1.1);
      -webkit-transform: scale(1.1);
      transform: scale(.989);
      z-index: 10000000;
      border-radius: 5px;
      opacity: 1 !important;

  }
  .notice {
      padding-bottom: 18px;
  }
  /* Style for the contact info page /
  //////////////////////////////////*/
  input {
      text-align:center;
      border-radius:4px;
      display:inline-block;
      width:200px;
  }
  textarea#relationship {
      height:100px;
      width:300px;
      border-radius:4px;
      resize: none;
  }
  input#submit {
      background: #3f51b5;
      display:block;
      margin-left:auto;
      margin-right:auto;
      width:300px;
      text-transform:uppercase;
      font-size:24px;
      color:#fff;
      border:none;
  }
  .provideinfo {
      padding: 10px;
      text-align: center;
  }
  /* End styling for contact info page /
  ////////////////////////////////////*/
